<div class="fh5co-entry padding">
    <img
        src="images/project-1.jpg"
        alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
    />
    <div>
        <span class="fh5co-post-date"> information</span>

        <p>
            + Address:
            <a href="mailto: <%=information.address %>"
                ><%=information.address %></a
            >
        </p>
        <p>
            + Web_link:
            <a href="<%=information.web_link %>"><%=information.web_link %></a>
        </p>
        <p>
            + Phone:
            <a href="tel: <%=information.phone %>"> <%=information.phone %></a>
        </p>
    </div>
</div>
